/* ==========================================================================
   Media Queries - Smaller than 900px
   ========================================================================== */

@media (max-width: 770px) {
  #header .blog-header {
    flex-direction: column;
  }

  #header .blog-title {
    display: flex;
    justify-content: center;
  }

  #header #search-form div {
    justify-content: center;
    margin-bottom: 8px;
  }
}

@media all and (max-width: 700px) {
  #header ul.taglist.secondary {
    display: none;
  }

  #header .taglist-wrapper ul#taglist-primary {
    float: none;
    clear: both;
  }

  #header .taglist-wrapper {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 900px) {
  blockquote {
    margin-left: 0;
  }

  .scroll-down {
    display: none;
  }

  .page-title {
    font-size: 4rem;
    letter-spacing: -1px;
  }

  .page-description {
    font-size: 1.8rem;
    line-height: 1.5em;
  }

  .post {
    font-size: 0.95em
  }

  .author-meta span {
    display: block;
    margin: 1.5rem 0;
  }

  body:not(.post-template) .post-title {
    font-size: 3.2rem;
  }

  hr {
    margin: 2.4em 0;
  }

  ol, ul {
    padding-left: 2em;
  }

  h1 {
    font-size: 4.5rem;
    text-indent: -2px;
  }

  h2 {
    font-size: 3.6rem;
  }

  h3 {
    font-size: 3.1rem;
  }

  h4 {
    font-size: 2.5rem;
  }

  h5 {
    font-size: 2.2rem;
  }

  h6 {
    font-size: 1.8rem;
  }
}
