/* ==========================================================================
   Layout - The main styles for the the theme
   ========================================================================== */

.social-message {
  color: #3A4145;
  font-size: .75em;
  text-align: center;

  .icon-twitter {
    margin-right: .25em;
    text-decoration: none;
  }

  .link-twitter {
    color: #3498db;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

/* Create a bouncing scroll-down arrow on homepage with cover image */
.scroll-down {
  display: none !important;
  position: absolute;
  z-index: 100;
  bottom: 45px;
  left: 50%;
  margin-left: -16px;
  width: 34px;
  height: 34px;
  font-size: 34px;
  text-align: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-animation: bounce 4s 2s infinite;
  animation: bounce 4s 2s infinite;

  /* Stop it bouncing and increase contrast when hovered */
  &:hover {
    color: #fff;
    -webkit-animation: none;
    animation: none;
  }
}

/* Hide when there's no cover image or on page2+ */
.no-cover .scroll-down,
.paged .scroll-down {
  display: none
}

.main-nav {
  position: relative;
  padding: 35px 40px;
  margin: 0 0 30px 0;

  a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
  }

  /* Special styles when overlaid on an image*/
  &.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    border: none;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.2)), color-stop(100%, rgba(0, 0, 0, 0)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);

    a {
      color: #fff;

      &:hover {
        color: #222;
        border-color: #fff;
        background: #fff;
        transition: all 0.1s ease;
      }
    }
  }
}

/* The details of your blog. Defined in ghost/settings/ */
.page-title {
  margin: 10px 0 10px 0;
  font-size: 5rem;
  letter-spacing: -1px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  color: #fff;
}

.page-description {
  margin: 0;
  font-size: 2rem;
  line-height: 1.5em;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.01rem;
  color: rgba(255, 255, 255, 0.8);
}

.no-cover {
  .main-nav.overlay,
  .back-button,
  .subscribe-button {
    background: none;
  }

  .page-title {
    color: rgba(0, 0, 0, 0.8);
  }

  .page-description {
    color: rgba(0, 0, 0, 0.5);
  }

  .main-nav.overlay .back-button,
  .main-nav.overlay .subscribe-button {
    color: rgba(0, 0, 0, 0.4);
    border-color: rgba(0, 0, 0, 0.3);
  }
}

/* Every post, on every page, gets this style on its <article> tag */
.post {
  position: relative;
  width: 80%;
  max-width: 1250px;
  margin: 4rem auto;
  padding-bottom: 4rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-bottom: #EBF2F6 1px solid;
  word-break: break-word;
  hyphens: auto;
}

body:not(.post-template) .post-title {
  font-size: 3.6rem;
}

.post-title a {
  text-decoration: none;
}

.post-excerpt p {
  margin: 0;
  font-size: 0.9em;
  line-height: 1.7em;
}

.read-more {
  text-decoration: none;
}

.post-meta {
  display: block;
  margin: 1.75rem 0 0 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  line-height: 2.2rem;
  color: #9EABB3;

  a {
    color: #9EABB3;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.author-thumb {
  width: 24px;
  height: 24px;
  float: left;
  margin-right: 9px;
  border-radius: 100%;
}

.user-meta {
  position: relative;
  padding: 0.3rem 40px 0 100px;
  min-height: 77px;
}

.post-date {
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.3rem;
  white-space: nowrap;
}

.user-image {
  position: absolute;
  top: 0;
  left: 0;
}

.user-name {
  display: block;
  font-weight: 700;
}

.user-bio {
  display: block;
  max-width: 440px;
  font-size: 1.4rem;
  line-height: 1.5em;
}

.publish-meta {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4.3rem 0 4rem 0;
  text-align: right;
}

.publish-heading {
  display: block;
  font-weight: 700;
}

.publish-date {
  display: block;
  font-size: 1.4rem;
  line-height: 1.5em;
}
