/* ==========================================================================
   Author profile
   ========================================================================== */

.author-sidebox {
  .sidebox-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: .5em;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
  }

  .author-image {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    overflow: hidden;
    padding: 1px;
    background: #fff;
    z-index: 2;
    box-shadow: #E7EEF2 0 0 0 1px;
    margin-right: 8px;

    img {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center center;
      border-radius: 100%;
    }
  }
}
