@import "fa-all";
@import "fonts";
@import "ghost";
@import "prism";
@import "normalize";
@import "utilities";

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #f5f5f5;

  * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
  }
}

@import "partials/general";
@import "partials/layout";

@import "partials/pagination";
@import "partials/animations";

@import "partials/media/lg";
@import "partials/media/md";
@import "partials/media/sm";

@import "partials/components/box";
@import "partials/components/footer";
@import "partials/components/header/header";
@import "partials/components/articles";
@import "partials/components/sidebox";
@import "partials/components/social-item";
@import "partials/components/article";
@import "partials/components/embed";
@import "partials/components/post/subscribe";

@import "partials/pages/post";
@import "partials/pages/author";
@import "partials/pages/tag";
@import "partials/pages/home";

#content {
  width: 100%;
  max-width: 95%;
  margin: 0 auto;
  padding: 1em;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;

  flex: 1 0 auto;
}

#sidebar {
  width: 30%;
  float: left;

  button {
    display: block;
    width: 100%;
    margin: 1em 0;
    padding: .5em 0;
  }

  .articles-related .box {
    margin-bottom: 2em;
  }
}

a.article-link,
a.article-link:hover,
a.article-link:visited {
  text-decoration: none;
}

/* ==========================================================================
   End of file. Animations should be the last thing here. Do not add stuff
   below this point, or it will probably fuck everything up.
   ========================================================================== */
