/* ==========================================================================
   Sidebox
   ========================================================================== */

.sidebox {
  margin-bottom: 2em;
  padding: 0;

  p {
    margin: 0 0 1em;
  }

  &.latest-articles {
    a {
      text-decoration: none;
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      display: block;
      font-family: "Open Sans", sans-serif;
      font-weight: bold;
      border-bottom: 1px solid #eee;
      line-height: 1.3;

      .date {
        font-size: .8em;
        color: #9EABB3;
        font-weight: normal;
        margin-bottom: .6em;
      }
    }

    .sidebox-content a:last-child {
      padding-bottom: 0;
      border: none;
    }
  }

  .sidebox-title {
    background: #212121;
    padding: .5em 1em;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    font-weight: bold;
  }

  &.about {
    .sidebox-content {
      font-size: .9em;
      line-height: 1.7;
    }
  }

  .sidebox-content {
    padding: 1em;
  }

  &.social {
    width: 100%;
    text-align: center;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin: 0;
        padding: 0;
        list-style-type: none;
      }
    }
  }

  &.share {
    .sidebox-content {
      display: flex;
      justify-content: space-evenly;
      flex-direction: row;
    }

    a {
      font-size: 2.5rem;
      display: inline-block;
      margin: 1rem 1.6rem 1.6rem 0;
      color: #BBC7CC;
      text-decoration: none;

      &:hover {
        color: #50585D;
      }
    }

    .sidebox-content {
      text-align: center;
    }
  }
}
